@media (max-width: 1460px) {
    .promo {
        &__img {
            img {
                right: 0px;
            }
        }
    }
    .reviews {
        &__wrapper {
            grid-template-columns: repeat(3, 345px);
            grid-template-rows: 265px;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .promo {
        &__wrapper {
            grid-template-columns: 406px 495px;
        }
        &__title {
            font-size: 37px;
            line-height: 48px;
        }
        &__start {
            margin-top: 30px;
        }
        &__item {
            grid-template-columns: 55px 70px;
        }
    }
    .features {
        &__wrapper {
            grid-template-columns: 465px 391px;
        }
    }
    .plans {
        &__wrapper {
            grid-template-columns: repeat(3, 295px);
        }
    }
    .map {
        &__global {
            width: 100%;
        }
    }
    .reviews {
        &__wrapper {
            grid-template-columns: repeat(3, 265px);
            grid-template-rows: 370px;
        }
        &__header {
            grid-template-columns: 182px;
            grid-template-rows: 50px 50px;
        }
        &__rating {
            width: 50px;
        }
    }
    .subscribe {
        &__wrapper {
            width: 900px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .promo {
        &__logo {
            div {
                font-size: 16px;
            }
        }
        &__head {
            grid-template-columns: 130px 400px 160px;
            grid-template-rows: 50px;
        }
        &__list {
            li {
                font-size: 14px;
            }
        }
        &__link {
            font-size: 14px;
        }
        &__btn {
            width: 100px;
            font-size: 14px;
        }
        &__wrapper {
            grid-template-columns: 410px 310px;
        }
        &__title {
            font-size: 25px;
            line-height: 39px;
        }
        &__descr {
            margin-top: 0px;
        }
        &__text {
            margin-top: 8px;
        }
    }
    .features {
        &__wrapper {
            grid-template-columns: 387px 318px;
        }
        &__img {
            display: flex;
            align-items: center;
        }
        &__title {
            width: 100%;
        }
    }
    .plans {
        &__wrapper {
            grid-template-columns: repeat(3,235px);
        }
    }
    .map {
        &__sponsors {
            grid-template-columns: 185px 142px 171px 160px;
        }
        &__item {
            img {
                width: 100%;
            }
        }
    }
    .reviews {
        &__header {
            width: 130px;
            grid-template-columns: 130px;
        }
        &__wrapper {
            grid-template-columns: repeat(3, 205px);
            grid-template-rows: 465px;
        }
        &__descr {
            margin-top: 10px;
            grid-template-columns: 130px;
            grid-template-rows: 50px;
            row-gap: 2px;
            width: 130px;
        }
        &__img {
            width: 50px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &__name {
            margin-top: 7px;
            font-size: 15px;
            text-align: center;
        }
        &__location {
            text-align: center;
        }
        &__rating {
            margin: 30px auto 0px auto;
            text-align: center;
            width: 40px;
        }
    }
    .subscribe {
        &__wrapper {
            width: 720px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 217px 468px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .promo {
        &__menu, &__btns {
            display: none;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__hamburger {
            display: flex;
            height: 20px;
            width: 30px;
            flex-direction: column;
            justify-content: space-between;
            div {
                width: 100%;
                height: 1px;
                background-color: #F53838;
            }
        }
        &__head {
            grid-template-columns: 130px 30px;
            grid-template-rows: 50px;
        }
        &__descr, &__img {
            width: 100%;
        }
        &__img {
            height: 340px;
            margin-top: 70px;
        }
    }
    .features {
        padding: 75px 0 75px 0;
        &__wrapper {
            grid-template-columns: 100%;
        }
        &__img {
            display: none;
        }
    }
    .plans {
        &__wrapper {
            grid-template-columns: repeat(3, 175px);
            grid-template-rows: 900px;
        }
        &__list {
            width: 120px;
        }
        &__btn {
            width: 145px;
        }
    }
    .map {
        &__sponsors {
            grid-template-columns: 145px 117px 126px 115px;
        }
    }
    .reviews {
        &__wrapper {
            grid-template-columns: repeat(3,172px);
            grid-template-rows: 580px;
            column-gap: 10px;
        }
        &__header {
            width: 110px;
            grid-template-columns: 110px;
        }
        &__descr {
            margin-top: 10px;
            grid-template-columns: 110px;
            grid-template-rows: 50px;
            row-gap: 2px;
            width: 110px;
        }
        &__img {
            width: 50px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &__name {
            margin-top: 7px;
            font-size: 13px;
            text-align: center;
        }
        &__location {
            text-align: center;
            font-size: 12px;
        }
        &__rating {
            margin: 30px auto 0px auto;
            text-align: center;
            width: 40px;
        }
    }
    .subscribe {
        &__wrapper {
            width: 540px;
            top: -170px;
            grid-template-columns: 400px;
            grid-template-rows: 155px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 540px;
        }
        &__menu {
            margin-top: 30px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 300px;
    }
    .promo {
        &__statistics {
            margin: 0 auto;
            width: 160px;
            grid-template-columns: 160px;
            grid-template-rows: repeat(3, 135px);
            row-gap: 20px;
        }
        &__icon {
            width: 55px;
            margin: 0 auto;
        }
        &__img {
            height: 230px;
        }
        &__item {
            grid-template-columns: 100%;
        }
        &__number {
            width: 100px;
            margin: 0 auto;
            text-align: center;
        }
    }
    .plans {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 715px);
            row-gap: 20px;
        }
        &__subtitle {
            width: 100%;
        }
        &__list {
            width: 180px;
        }
    }
    .features {
        padding: 0px;
    }
    .map {
        padding-bottom: 60px;
        &__global {
            margin: 25px auto 0 auto;
        }
        &__sponsors {
            margin-top: 15px;
            grid-template-columns: 134px 141px;
        }
        &__title {
            width: 100%;
        }
        &__subtitle {
            width: 100%;
        }
    }
    .reviews {
        &__title {
            width: 100%;
        }
        &__subtitle {
            width: 100%;
        }
        &__wrapper {
            grid-template-rows: repeat(3, 355px);
            grid-template-columns: 1fr;
            row-gap: 15px;
        }
        &__header {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50px;
            justify-content: space-between;
            align-items: center;
        }
        &__descr {
            display: grid;
            grid-template-columns: 50px 142px;
            justify-content: space-between;
            column-gap: 20px;
            align-items: center;
        }
        &__name {
            font-weight: 500;
            font-size: 18px;
            color: #0b132a;
        }
        &__location {
            font-weight: 400;
            font-size: 14px;
            color: #4f5665;
        }
        &__text {
            margin-top: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #0b132a;
        }
        &__rating {
            margin: 20px 0px 0px 0px;
        }
    }
    .subscribe {
        &__caption {
    
        }
        &__wrapper {
            grid-template-columns: 280px;
            grid-template-rows: 240px;
            padding: 50px 10px;
            width: 300px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__aside, &__menu {
            width: 300px;
        }
        &__aside {
            margin-top: 20px;
        }
        &__name {
            font-size: 14px;
        }
        &__menu {
            grid-template-columns: 94px 109px 96px;
            ul {
                li {
                    font-size: 12px;
                }
            }
        }
    }
}