@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

@import 'blocks/title';
@import 'blocks/buttons';

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/features';
@import 'blocks/plans';
@import 'blocks/map';
@import 'blocks/reviews';
@import 'blocks/subscribe';
@import 'blocks/footer';


@import 'base/media';