.features {
    padding: 30px 0px 130px 0px;
    &__wrapper {
        display: grid;
        grid-template-columns: 510px 427px;
        justify-content: space-between;
        @include for-desktop-up {
            grid-template-columns: 465px 391px;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 387px 318px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 100%;
        }
        @include for-phone-only {
            grid-template-columns: 100%;
        }
    }
    &__img {
        img {
            width: 100%;
        }
        @include for-tablet-landscape-up {
            display: flex;
            align-items: center;
        }
        @include for-tablet-portrait-up {
            display: none;
        }
    }
    &__item {
        margin-top: 55px;
        @include for-tablet-portrait-up {
            margin-top: 30px;
        }
    }
    &__title {
        width: 383px;
        @include for-tablet-landscape-up {
            width: 100%;
        }
        @include for-phone-only {
            width: 100%;
            text-align: center;
        }
    }
    &__descr {
        position: relative;
    }
    &__text {
        margin-top: 20px;
        font-weight: 400;
        color: #4f5665;
        line-height: 30px;
        font-size: 16px;
        @include for-phone-only {
            text-align: center;
        }
    }
    &__list {
        margin-top: 20px;
        list-style-type: none;
        padding-left: 30px;
        li {
            position: relative;;
            font-weight: 400;
            font-size: 14px;
            line-height: 43px;
            color: #4f5665;
            &:before {
                content: "";
                position: absolute;
                left: -30px;
                top: 4px;
                width: 21px;
                height: 21px;
                background: url("../../icons/features/v-green.svg") center center / cover no-repeat;
            }
        }
    }
    @include for-tablet-landscape-up {
        padding: 60px 0;
    }
    @include for-tablet-portrait-up {
        padding: 30px 0;
    }
    @include for-phone-only {
        padding: 0px;
    }
}