.footer {
    min-height: 565px;
    background-color: #f8f8f8;
    &__wrapper {
        padding-top: 230px;
        display: grid;
        grid-template-columns: 340px 570px;
        justify-content: space-between;
    }
    &__logo {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            font-weight: 500;
            font-size: 20px;
            span {
                font-weight: 700;
            }
        }
    }
    &__descr {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #4f5665;
        span {
            font-weight: 500;
        }
    }
    &__social {
        margin-top: 30px;
        display: flex;
        width: 142px;
        justify-content: space-between;
        div {
            width: 34px;
            height: 34px;
            img {
                width: 100%;
            }
        }
    }
    &__copyright {
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        color: #afb5c0;
        span {
            font-weight: 500;
        }
    }
    &__menu {
        display: grid;
        grid-template-columns: 74px 123px 121px;
        justify-content: space-between;
        ul {
            margin-top: 20px;
            list-style-type: none;
            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #4f5665;
            }
        }
    }
    &__name {
        font-weight: 500;
        font-size: 18px;
        color: #0b132a;
    }
}