.map {
    padding-bottom: 97px;
    background-color: #fefefe;
    &__title {
        width: 385px;
        text-align: center;
        margin: 0 auto;
        @include for-phone-only {
            width: 100%;
        }
    }
    &__subtitle {
        width: 555px;
        text-align: center;
        margin: 20px auto 0px auto;
        @include for-phone-only {
            width: 100%;
        }
    }
    &__global {
        width: 1060px;
        margin: 155px auto 0px auto;
        img {
            width: 100%;
        }
        @include for-desktop-up {
            width: 100%;
        }
        @include for-tablet-landscape-up {
            width: 100%;
            margin-top: 60px;
        }
        @include for-tablet-portrait-up {
            width: 100%;
            margin-top: 60px;
        }
        @include for-phone-only {
            margin: 25px auto 0 auto;
        }
    }
    &__sponsors {
        margin-top: 85px;
        display: grid;
        grid-template-columns: 200px 155px 187px 171px;
        grid-template-rows: 112px;
        align-items: center;
        justify-content: space-between;
        @include for-tablet-landscape-up {
            grid-template-columns: 185px 142px 171px 160px;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 30px;
        }
        @include for-phone-only {
            margin-top: 15px;
            grid-template-columns: 134px 141px;
        }
    }
    &__item {
        img {
            @include for-tablet-landscape-up {
                width: 100%;
            }
        }
    }
    @include for-tablet-landscape-up {
        padding-bottom: 60px;
    }
    @include for-phone-only {
        padding-bottom: 60px;
    }
    &__item-image {
        width: 100%;
    }
}