.promo {
    padding: 50px 0px 70px 0px;
    &__head {
        display: grid;
        grid-template-columns: 150px 450px 235px;
        justify-content: space-between;
        align-items: center;
    }
    &__hamburger {
        display: none;
    }
    &__wrapper {
        margin-top: 90px;
        display: grid;
        grid-template-columns: 555px 610px;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            display: inline;
            font-weight: 500;
            font-size: 20px;
            color: #0b132a;
            span {
                font-weight: 700;
            }
        }
    }
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        li {
            display: inline;
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 0;
        }
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: #0b132a;
    }
    &__title {
        line-height: 70px;
        span {
            font-weight: 700;
        }
    }
    &__text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        color: #4f5665;
        span {
            font-weight: 500;
        }
    }
    &__start {
        margin-top: 50px;
        width: 250px;
        position: relative;
    }
    &__getstart {
        width: 250px;
        height: 60px;
        border-radius: 10px;
        font-weight: 700;
        background-color: #F53838;
        color: #ffffff;
        font-size: 16px;
    }
    &__img {
        position: relative;
        img {
            width: 100%;
            position: absolute;
            right: -70px;
        }
    }
    &__descr {
        margin-top: 28px;
    }
    
    &__statistics {
        margin-top: 180px;
        display: grid;
        grid-template-columns: repeat(3, 145px);
        grid-template-rows: 65px;
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template-columns: 55px 53px;
        grid-template-rows: 65px;
        justify-content: space-between;
        align-items: center;
    }
    &__number {
        font-weight: 700;
        font-size: 25px;
        color: #0b132a;
        height: 65px;
        
        span {
            font-weight: 400;
            font-size: 20px;
            color: #4f5665;
        }
    }
}