.subscribe {
    position: relative;;
    &__wrapper {
        position: absolute;
        top: -120px;
        width: 1140px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 60px 70px;
        display: grid;
        grid-template-columns: 370px 250px;
        grid-template-rows: 120px;
        justify-content: space-between;
        align-items: center;
        @include for-desktop-up {
            width: 900px;
        }
        @include for-tablet-landscape-up {
            width: 750px;
            column-gap: 30px;
            grid-template-columns: 2fr 1fr;
        }
        @include for-tablet-portrait-up {
            width: 540px;
            top: -170px;
            grid-template-columns: 400px;
            grid-template-rows: 155px;
        }
        @include for-phone-only {
            grid-template-columns: 280px;
            grid-template-rows: 240px;
            padding: 50px 10px;
            width: 300px;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
    &__btn {
        width: 250px;
        height: 60px;
        background-color: #F53838;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        border-radius: 10px;
        @include for-tablet-landscape-up {
            width: 100%;
        }
    }
    &__offer {
        position: relative;
    }
}